/*
   For use with mockup1.html, mockup2.html, mockup3.html, mockup4.html, mockup5.html, mockup6.html, mockup7.html, mockup8.html
   Cathy Duan and Hannah Moran
*/

body {
    margin: 15px;
}

#main-page {
    width: 100%;
    height: 500px;
}

.featured-image{
    width: 65%;
    height: 60%;
    float: left;
    font-size: 24pt;
    color: rgb(255, 255, 255);
    background-image: url("wombat.jpg");
    background-position: center;
    position: relative;
    text-align: center;
}

.featured-image-text {
    position: absolute;
    top: 8px;
    left: 16px;
}

img{
    width: 100%;
    height: 100%;
    border: 5px solid #000;
}

.map {
    width: 30%;
    height: 30%;
    float:right;
    font-size: 16pt;
    color: rgb(255, 255, 255);
    background-image: url("wombat.jpg");
    background-position: center;
    position: relative;
    text-align: center;
}

.map-image-text {
    position: absolute;
    top: 8px;
    left: 16px;
}

.randomizer {
    width: 30%;
    height: 30%;
    float:right;
    font-size: 16pt;
    color: white;
    background-image: url("wombat.jpg");
    background-position: center;
    position: relative;
    text-align: center;
}

.randomizer-image-text {
    position: absolute;
    top: 8px;
    left: 16px;
}

#nav-bar {
    display: flex;
    margin: 1pt;
    background-color: rgb(220, 250, 255);
}
.icon{
    width: 9.5%;
    height: 10%;
    line-height: 80px;
    float: center;
    text-align: center ;
    vertical-align: middle;
    /* background-color: rgb(105, 128, 111); */
}
.title{
    width: 30%;
    float: center;
}
.search{
    width: 15%;
    float: right;
    line-height: 80px;
    text-align: right ;
    vertical-align: middle;
}
.search-field{
    position:absolute;
    left:82%;
    top:6%;
    
    /* line-height: 20px; */
}

#contact-info{
    position: relative;
    top: 90%;
    background-color: rgb(99, 123, 79);
    margin : 1pt;
    width: 98%;
}