/*
   For use with mockup6.html
   Cathy Duan and Hannah Moran
*/


#image-page {
    width: 100%;
    height: 500px;
}

.current-image {
    position: relative;
    top: 20px;
    width: 50%;
    height: 60%;
    float: left;
    font-size: 24pt;
    color: rgb(255, 255, 255);
    background-image: url("wombat.jpg");
    background-position: center;
    position: relative;
    /* text-align: center; */
}

img {
    width: 100%;
    height: 100%;
    border: 5px solid #000;
}

.image-title {
    position: relative;
    left: 20px;
    width: 50%;
    float: left;
    line-height: 80px;
    /* text-align: right ; */
    font-size: 24pt;
    color: rgb(6, 5, 5);
}
.image-detail{
    position: relative;
    left: 30px;
    text-align: left;
    font-size: 14pt;
    color: rgb(6, 5, 5);
}